###################
# Files #
###################
*.env
*.log
*.txt
run.bat
phyton/imagelogs.json
###############
# Directories #
###############
quotes/
scores/
secrets/
users/
node_modules/
history/